<?xml version="1.0"?>
<config>
    <modules>
        <MagenThemes_MTGeroAdmin>
            <version>2.0.3</version>
        </MagenThemes_MTGeroAdmin>
    </modules>
    <frontend>
        <routers>
            <mtgeroadmin>
                <use>standard</use>
                <args>
                    <module>MagenThemes_MTGeroAdmin</module>
                    <frontName>mtgeroadmin</frontName>
                </args>
            </mtgeroadmin>
        </routers>
        <layout>
            <updates>
                <mtgeroadmin>
                    <file>mtgeroadmin.xml</file>
                </mtgeroadmin>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	       <mtgeroadmin>
				<use>admin</use>
				<args>
				    <module>MagenThemes_MTGeroAdmin</module>
				    <frontName>mtgeroadmin</frontName>
				</args>
	       </mtgeroadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
		    <updates>
			<mtgeroadmin>
			    <file>mtgeroadmin.xml</file>
			</mtgeroadmin>
		    </updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mtgeroadmin>
                <class>MagenThemes_MTGeroAdmin_Model</class>
            </mtgeroadmin>
        </models>
        <resources>
            <mtgeroadmin_setup>
                <setup>
                    <module>MagenThemes_MTGeroAdmin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mtgeroadmin_setup>
            <mtgeroadmin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mtgeroadmin_write>
            <mtgeroadmin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mtgeroadmin_read>
        </resources>
        <blocks>
            <mtgeroadmin>
                <class>MagenThemes_MTGeroAdmin_Block</class>
            </mtgeroadmin>
        </blocks>
        <helpers>
            <mtgeroadmin>
                <class>MagenThemes_MTGeroAdmin_Helper</class>
            </mtgeroadmin>
        </helpers>
    </global>
    <default>
		<mtgeroadmin>
		    <mtgeroadmin_appearance>
		    	<theme_styles>red</theme_styles>
				<bg_color>#dfdfdf</bg_color>
				<text_color>#333333</text_color>
				<link_color>#333333</link_color> 
				<pattern_body>pattern_2</pattern_body> 
				<menu_bg_color></menu_bg_color>
				<menu_text_color>#333333</menu_text_color>
				<menu_link_color>#FFFFFF</menu_link_color>
				<pattern_menu>pattern_4</pattern_menu>
				<color_panel>1</color_panel>
				<main_home_bg>pattern_7</main_home_bg>
				<main_text_color>#333430</main_text_color>
				<footer_pattern>pattern_7</footer_pattern>
				<footer_static_text_color>#333430</footer_static_text_color>
				<footer_static_link_color>#00B0AE</footer_static_link_color>
				<h_font></h_font>
				<b_font></b_font>
				<m_font></m_font>
				<back_top>1</back_top>
		    </mtgeroadmin_appearance>
		    <navigation>
		    	<menu_effect>slide</menu_effect>
		    	<home>1</home>
		    	<show_type>static</show_type>
		    	<show_learn_more>1</show_learn_more>
		    </navigation>
		    <custom_menu>
		    	<enable_custom>1</enable_custom>
		    	<static_identifier>custom_menu</static_identifier>
		    </custom_menu>
		    <thumbnailscroller> 
				<direction>horizontal</direction>
				<control>1</control>
				<items>5</items>
				<width>57</width>
				<height>52</height>
				<auto_scroll>4000</auto_scroll>
				<speed>500</speed>
				<enabled_scroller>1</enabled_scroller>
				<enabled_zoom>1</enabled_zoom>
				<width_z>300</width_z>
				<height_z>300</height_z>
				<width_lbox>600</width_lbox>
				<height_lbox>600</height_lbox>
			</thumbnailscroller>
			<smartmenu>  
				<title>Smart Menu</title>
				<menustyle>Accordion</menustyle>
				<event>click</event>
		    </smartmenu>
		</mtgeroadmin>
    </default>
</config>